<div class="container">

</div>
<header>
  <nav class="nav">

    <div class="logo">
         <!-- <img src="assets/logo.png" alt="logo.png">  -->
    </div>
  <h1>Good Meal</h1>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-inverse navbar-fixed-top">
   <!-- <div class="nav-search">
    <input type="text" placeholder="Search Food "/>
    <button class="btn btn-warning">Search</button>
  </div> -->
   <ul class="nav nav-sear">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="menu" routerLinkActive="active-link">menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login-pg" routerLinkActive="active-link">login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart" routerLinkActive="active-link">Cart</a>
      </li>
   </ul>
  </nav>
    </nav>

  </header>
